body {
  color: white;
  background-color: black;
  font-family: Lato, Arial;
  text-align: center;
}


.myClass1 {
    width: 20%;
    font-weight: lighter;
    text-align: center;
    font-size: 40px;
	color: red;
    font-family: Lato, 'sans serif';
}

.myClass2 {
    width: 100%;
    font-weight: bold;
    text-align: left;
    font-size: 24px;
	color: darkgray;
}

.myClass3 {
    text-align: left;
    background-color: yellow;
    padding: 10px;
    margin: 5px;
    font-size: 14px;
	color: green;
    font-family: 'Comic Sans MS', Arial;
}

#myID1 {
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
	color: white;
    font-family: Lato, 'sans serif';
    background-color: black;
    width: 300px;
    margin-left: 475px;
    margin-right: 475px;
}

#myID2 {
	width: 100px;
    border: 10px solid blue;
    padding: 30px;
    margin: 20px; 
    display:inline;
}

h2 {
	font-size: 20px;			
}

.but{
    -moz-appearance: button;
    -ms-appearance: button;
    -o-appearance: button;
    -webkit-appearance: button;
    appearance: button;
    text-decoration: aqua;
    color: aqua;
    padding: 0.2em 0.4em;
    background-color: blue;
}
.but1{
    -moz-appearance: button;
    -ms-appearance: button;
    -o-appearance: button;
    -webkit-appearance: button;
    appearance: button;
    text-decoration: black;
    color: black;
    padding: 0.2em 0.4em;
    background-color: gray;
}
 
 body {
      text-align: center;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      }
      .cursor {
      display: flex;
      flex-wrap: wrap;
      }
      .cursor > div {
      flex: 120px;
      padding: 10px 2px;
      white-space: nowrap;
      border: 1px solid #666;
      border-radius: 5px;
      margin: 0 5px 5px 0;
      }
      .cursor > div:hover {
      background: green;
      }
      .auto { cursor: auto; }
      .default { cursor: default; }
      .none { cursor: none; }
      .context-menu { cursor: context-menu; }
      .help { cursor: help; }
      .pointer { cursor: pointer; }
      .progress { cursor: progress; }
      .wait { cursor: wait; }
      .cell { cursor: cell; }
      .crosshair { cursor: crosshair; }
      .text { cursor: text; }
      .vertical-text { cursor: vertical-text; }
      .alias { cursor: alias; }
      .copy { cursor: copy; }
      .move { cursor: move; }
      .no-drop { cursor: no-drop; }
      .not-allowed { cursor: not-allowed; }
      .all-scroll { cursor: all-scroll; }
      .col-resize { cursor: col-resize; }
      .row-resize { cursor: row-resize; }
      .n-resize { cursor: n-resize; }
      .e-resize { cursor: e-resize; }
      .s-resize { cursor: s-resize; }
      .w-resize { cursor: w-resize; }
      .ns-resize { cursor: ns-resize; }
      .ew-resize { cursor: ew-resize; }
      .ne-resize { cursor: ne-resize; }
      .nw-resize { cursor: nw-resize; }
      .se-resize { cursor: se-resize; }
      .sw-resize { cursor: sw-resize; }
      .nesw-resize { cursor: nesw-resize; }
      .nwse-resize { cursor: nwse-resize; }
      .grab { cursor: -webkit-grab; cursor: grab; }
      .grabbing { cursor:  -webkit-grabbing; cursor: grabbing; }
      .zoom-in { cursor: -webkit-zoom-in; cursor: zoom-in; }
      .zoom-out { cursor:  -webkit-zoom-out; cursor: zoom-out; }
      
  canvas {
    border: 1px solid white;
  }
  #p1
  {
    color:red;
	position:absolute;
	left:100px;
	top:10px;
  }
  #p2
  {
    color:red;
	position:absolute;
	left:100px;
	top:30px;
  }
  #score
  {
    color:yellow;
    position:absolute;
	left:155px;
	top:10px;
  }
  #high
  {
    color:yellow;
    position:absolute;
	left:195px;
	top:30px;
  }